{% extends "./default.njk" %}

{% block content %}
  <p>Page content goes here</p>
{% endblock %}

{% block sidebar %}
  {% include "page-sidebar.njk" | trim %}
  <hr />
  {{ super() }}
{% endblock %}
