---
title: Index
$layout: "layouts/default.njk"
---

{% extends $layout %}

{% block content %}
  <p><a href="/pages/home/">/pages/home/</a></p>
  <p><a href="/pages/about/">/pages/about/</a></p>
  <p><a href="/posts/2020-01-21-hello-world/">/posts/hello-world/</a></p>
{% endblock %}
